<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .pdf-viewer {
            width: 100%;
            height: 90vh;
            padding: 10px;
            box-sizing: border-box;
        }
        .school-box {
            padding: 15px;
            margin-bottom: 10px;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        .sentence-box {
            padding-left: 20px;
        }
        .statistics-box {
            height: 500px;
            overflow-y: scroll;
            background-color: #f8f9fa;
            padding: 15px;
        }
        .index-school-view{
            position: relative;
            top: -14px;
            left: -14px;
            padding: 1px 8px 2px;
            border-radius: 50px;
        }   


        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Ô bên trái hiển thị nội dung PDF -->
            <div class="col-md-8", id = `{{file_id}}`, data = {file_id}>
                <h2>PDF Viewer</h2>
                <!-- Hiển thị PDF bằng embed -->
                <div class="overlapping-off" style="display: block;">
                    <div class="pdf-viewer">
                        <embed src="data:application/pdf;base64,{{ pdf_data }}" type="application/pdf" width="100%" height="100%"/>
                    </div>
                </div>
                <div class="overlapping-on" style="display: none;">
                    <div class="pdf-viewer">
                        <embed src="data:application/pdf;base64,{{ pdf_base64 }}" type="application/pdf" width="100%" height="100%"/>
                    </div>
                </div>
            </div>

            <!-- Ô bên phải hiển thị thông tin và báo cáo -->
            <div class="col-md-4">
                <h3>Standard Report</h3>
                <div class="mb-4">
                    <strong>Page Count:</strong> {{ page_count }} <br>
                    <strong>Word Count:</strong> {{ word_count }}
                </div>

                <h4>Sources</h4>

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle-sources" onclick="toggleOverlappingSources()">
                    <label class="form-check-label" for="toggle-sources">Show overlapping sources</label>
                </div>
                <!-- OFF -->
                <div class="overlapping-off" style="display: block;">
                    <strong>Percentage:</strong> {{ percent }} %
                </div>
                <div class="statistics-box statistics-box-off overlapping-off" style="display: block;">
                    {% for school_id, school_data in school_source_off %}
                        <div class="school-box highlight_school{{ school_id }}" onclick="toggleSchool_off('{{ school_id }}')">
                            <strong class = "index-school-view" style="background-color: {{school_data['color']}};">{{ loop.index }}</strong>
                            <h5 style="color: {{school_data['color']}};">{{ school_data['school_name'] }}</h5><br>
                            <strong>Word Matched:</strong> {{ school_data['word_count'] }}<br>
                            <strong>Percentage:</strong> {{ "%.2f" % ((school_data['word_count'] / word_count) * 100) }}%
                        </div>

                        <div class="sentence-box" id="overlapping-off-{{ school_id }}" style="display: none;">
                            <ul id="sentence-list{{ school_id }}">
                                {% for sentence_index, sentence_data in school_data['sentences'].items() %}
                                    <li class="sentence-item">
                                        <strong>Best Match:</strong>{{ sentence_data['best_match']|safe }} <br>
                                        {{ sentence_data['word_count_sml'] }} word
                                    </li>
                                    
                                {% endfor %}
                            </ul>
                            
                        </div>
                    {% endfor %}
                </div>


                <!-- ON -->
                <div class="statistics-box statistics-box-on overlapping-on" style="display: none;">
                    {% for school_id, school_data in school_source_on %}

                        <div class="school-box highlight_school{{ school_id }}" onclick="toggleSchool_on('{{ school_id }}')">
                            <strong class = "index-school-view" style="background-color: {{school_data['color']}};">{{ loop.index }}</strong>
                            <h5 style="color: {{school_data['color']}};">{{ school_data['school_name'] }}</h5><br>
                            <strong>Word Matched:</strong> {{ school_data['word_count'] }}<br>
                            <strong>Percentage:</strong> {{ "%.2f" % ((school_data['word_count'] / word_count) * 100) }}%
                        </div>

                        <div class="sentence-box" id="overlapping-on-{{ school_id }}" style="display: none;" onclick="toggleSchool_on('{{ school_id }}')">
                            <ul id="sentence-list{{ school_id }}">
                                {% for sentence_index, sentence_data in school_data['sentences'].items() %}
                                    <li class="sentence-item">
                                        <strong>Best Match:</strong>{{ sentence_data['best_match']|safe }} <br>
                                        {{ sentence_data['word_count_sml'] }} word
                                    </li>
                                    
                                {% endfor %}
                            </ul>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>

        function toggleOverlappingSources() {
            const overlappingStatistics_off = Array.from(document.getElementsByClassName("overlapping-off"));
            const overlappingStatistics_on = Array.from(document.getElementsByClassName("overlapping-on"));

            const toggleSwitch = document.getElementById("toggle-sources");
            
            if (toggleSwitch.checked) {

                overlappingStatistics_off.forEach(el => {
                    el.style.display = "none";
                });

                overlappingStatistics_on.forEach(el => {
                    el.style.display = "block";
                });

            } else {

                overlappingStatistics_off.forEach(el => {
                    el.style.display = "block";
                });
                overlappingStatistics_on.forEach(el => {
                    el.style.display = "none";
                });
            }
        }


        function toggleSchool_off(schoolId) {
            const elements = Array.from(document.getElementsByClassName("sentence-box"));
            const element = document.getElementById(`overlapping-off-${schoolId}`)
            const otherElements = elements.filter(el => el !== element);

            otherElements.forEach(el => {
                el.style.display = "none";
            });


            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";

            } else {
                element.style.display = "none";
            }
        }

        function toggleSchool_on(schoolId) {
            const elements = Array.from(document.getElementsByClassName("sentence-box"));
            const element = document.getElementById(`overlapping-on-${schoolId}`)
            const otherElements = elements.filter(el => el !== element);

            otherElements.forEach(el => {
                el.style.display = "none";
            });


            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";
                highlightSchool(schoolId)
            } else {
                element.style.display = "none";
                load_file_pdf()
            }

        }

        function highlightSchool(schoolId) {
            fetch('/{{file_id}}/on-source-highlight', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    school_id: schoolId,
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                if (data.pdf_data_view) {
                    const embedElement = document.querySelector(".overlapping-on .pdf-viewer embed");
                    embedElement.src = `data:application/pdf;base64,${data.pdf_data_view}`;
                } else {
                    console.error('Error updating PDF:', data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }


        function load_file_pdf(){
            fetch('/{{file_id}}/on-source', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                if (data.pdf_base64) {
                    const embedElement = document.querySelector(".overlapping-on .pdf-viewer embed");
                    embedElement.src = `data:application/pdf;base64,${data.pdf_base64}`;
                } else {
                    console.error('Error updating PDF:', data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
