<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .pdf-viewer {
            width: 100%;
            height: 90vh;
            padding: 10px;
            box-sizing: border-box;
            overflow-y: scroll; /* Thêm để cuộn dọc */
        }
        .col-md-3{
            overflow-y: scroll; /* Thêm để cuộn dọc */
            
        }
        .school-box {
            padding: 15px;
            margin-bottom: 10px;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        .sentence-box {
            padding-left: 20px;
        }
        .statistics-box {
            height: 500px;
            background-color: #f8f9fa;
            padding: 15px;
        }
        .index-school-view{
            position: relative;
            top: -14px;
            left: -14px;
            padding: 1px 8px 2px;
            border-radius: 50px;
        }   

        canvas {
            display: block;
            margin: auto;
        }

        .school_name{
            display: flex;
            justify-content: space-between;
        }

        .source-detail{
            display: flex;
            justify-content: space-between;
        }
        
        .sentence-list{
            list-style: none;
            padding: 0;
        }
        .icon-remove{
            font-size: 20px;
        }
        .controls {
            margin-top: 10px;
        }
        .hidden {
            display: none;
        }
        .similarity{
            display: flex;
        }
        .fillter-button{
            width: 200px;
            height: 30px;
        }

        .exclusion-source{
            background-color: aliceblue;
        }

        .exclusion-source-list{
            padding: 12px 0;
        }
        .exclution-source-item{
            display: flex;
            padding: 24px;
            border: solid 1px ;
            border-radius: 20px;
            margin-top: 12px;
            justify-content: space-between;
        }

        .exclution-text-item{
            background-color: rgb(255, 210, 210);
        }
        
        .exclusion-text-list{
            padding: 12px 0;
        }

        .exclution-text-item{
            display: flex;
            padding: 24px;
            border: solid 1px ;
            border-radius: 20px;
            margin-top: 12px;
            justify-content: space-between;
        }
        .exclution-text-item-title{
            font-weight: 800;
            font-size: 16px;
            
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Ô bên trái hiển thị nội dung PDF -->
            <div class="col-md-9"`>
                <div class="overlapping" style="display: block;">
                    <div class="pdf-viewer" id="pdf-viewer"></div>
                </div>
            </div>
            
            
            <!-- Ô bên phải hiển thị thông tin và báo cáo -->
            <div class="col-md-3">
                <div class="report" style="display: block;">
                    <div class="report-headers">
                        <h3>Báo cáo thông thường</h3>
                    </div>
    
                    <div class="resumer-container">
                        <div class="similarity">
                            <h2 class="percent">{{ "%.2f" %  percent }} % Tính tương đồng theo tiêu chuẩn</h2>
                            <button class="fillter-button"  onclick="toggleFillter()">
                                <i class="bi bi-filter"></i>
                                Bộ lọc
                            </button>
                        </div>
                        
                        <div class="mb-4">
                            <strong>Page Count:</strong> {{ page_count }} <br>
                            <strong>Word Count:</strong> {{ word_count }}
                        </div>
        
                        <div class="exclusions-button-wrap">
                            <button class="exclusions-button" onclick="toggleExclusions()">
                                Các tiêu chí loại trừ
                                <i class="bi bi-arrow-bar-right"></i>
                            </button>
                        </div>
                        <h4>Nguồn</h4>
        
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="toggle-sources" onclick="toggleOverlappingSources()">
                            <label class="form-check-label" for="toggle-sources">Hiển thị các nguồn chồng chéo</label>
                        </div>
                    </div>
                    
    
    
                    <div class="statistics-box overlapping-off" style="display: block;">
                        {% for school_id, school_data in school_source_off %}
                            <div class="school-box school-box-off highlight_school{{ school_id }}" onclick="toggleSchool_Off('{{ school_id }}')">
                                <strong class="index-school-view index-school-view-off" style="background-color: {{ school_data['color'] }};">{{ loop.index }}</strong>
                                <strong class="index-school-view index-school-view-off" style="background-color: {{ school_data['color'] }};">{{ school_data['type_source'] }}</strong>
                                <div class="school_name">
                                    <h5 style="color: {{school_data['color']}};">{{ school_data['school_name'] }}</h5> 
                                    <i class="bi bi-x-circle icon-remove"onclick="removeSchoolSource('{{school_id}}')"></i>
                                </div>
                                <br>
                                <strong>Word Matched:</strong> {{ school_data['word_count'] }}<br>
                                <strong>Percentage:</strong> {{ ((school_data['word_count'] / word_count) * 100) | round }}%

                            </div>
    
                            <div class="sentence-box sentence-box-off" id="overlapping-off-{{ school_id }}" style="display: none;">
                                <ul class="sentence-list" id="sentence-list-off-{{ school_id }}">
                                    {% for sentence_index, sentence_data in school_data['sentences'].items() %}
                                        <li class="sentence-item sentence-item-{{school_id}}-{{sentence_index}}"data-page="{{ sentence_data['page'] }}">
                                            <a href="{{ sentence_data['file_id'] }}">{{ sentence_data['file_id'] }}</a><br>
                                            <strong>Best Match:</strong>{{ sentence_data['best_match']|safe }} <br>
                                            <div class="source-detail">
                                                {{ sentence_data['word_count_sml'] }} word
                                                <i class="bi bi-x-circle icon-remove" onclick="removeText('{{school_id}}', '{{sentence_index}}')"></i>
                                            </div>
                                            
                                        </li>
                                    {% endfor %}
                                </ul>
                                <!-- Phân trang -->
                                <div class="pagination">
                                    <button id="prev-page-sentence-off-{{ school_id }}" onclick="prevSentencePage('{{ school_id }}', 'off')"><i class="bi bi-chevron-double-left"></i></button>
                                    <span id="sentence-page-num-off-{{ school_id }}">1</span> / <span id="sentence-total-page-off-{{ school_id}}"></span>
                                    <button id="next-page-sentence-off-{{ school_id }}" onclick="nextSentencePage('{{ school_id }}', 'off')"><i class="bi bi-chevron-double-right"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
    
                    <!-- ON -->
                    <div class="statistics-box overlapping-on" style="display: none;">
                        {% for school_id, school_data in school_source_on %}
                            <div class="school-box school-box-on highlight_school{{ school_id }}" onclick="toggleSchool_On('{{ school_id }}')">
                                <strong class="index-school-view index-school-view-on" style="background-color: {{ school_data['color'] }};">{{ loop.index }}</strong>
                                <strong class="index-school-view index-school-view-off" style="background-color: {{ school_data['color'] }};">{{ school_data['type_source'] }}</strong>

                                <div class="school_name">
                                    <h5 style="color: {{school_data['color']}};">{{ school_data['school_name'] }}</h5>
                                    <i class="bi bi-x-circle icon-remove" onclick="removeSchoolSource('{{school_id}}')"></i>
                                </div>
                                <br>
                                <strong>Word Matched:</strong> {{ school_data['word_count'] }}<br>
                                <strong>Percentage:</strong> {{ ((school_data['word_count'] / word_count) * 100) | round }}%

                            </div>
                            <div class="sentence-box sentence-box-on" id="overlapping-on-{{ school_id }}" style="display: none;">
                                <ul class="sentence-list" id="sentence-list-on-{{ school_id }}">
                                    {% for sentence_index, sentence_data in school_data['sentences'].items() %}
                                        <li class="sentence-item sentence-item-{{school_id}}-{{sentence_index}}" data-page="{{ sentence_data['page'] }}">
                                            <a href="{{ sentence_data['file_id'] }}">{{ sentence_data['file_id'] }}</a><br>
                                            <strong>Best Match:</strong>{{ sentence_data['best_match']|safe }} <br>
                                            <div class="source-detail">
                                                {{ sentence_data['word_count_sml'] }} word
                                                <i class="bi bi-x-circle icon-remove" onclick="removeText('{{school_id}}', '{{sentence_index}}')"></i>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="pagination">
                                    <button id="prev-page-sentence-on-{{ school_id }}" onclick="prevSentencePage('{{ school_id }}', 'on')"><i class="bi bi-chevron-double-left"></i></button>
                                    <span id="sentence-page-num-on-{{ school_id }}">1</span> / <span id="sentence-total-page-on-{{ school_id }}"></span>
                                    <button id="next-page-sentence-on-{{ school_id }}" onclick="nextSentencePage('{{ school_id }}', 'on')"><i class="bi bi-chevron-double-right"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="exclusion" style="display: none;">
                    <div class="exclusion-header">
                        <h2 class="exclusion-header-title">Các tiêu chí loại trừ</h2>
                        <button class="exclusion-header-return-button"  onclick="toggleReport()">
                            <i class="bi bi-arrow-left"></i>
                            Quay lại Báo cáo tính tương đồng
                        </button>
                    </div>
                    <div class="exclusion-source">
                        <div class="exclusion-source-header">
                            <h3>Các tiêu chí loại trừ nguồn</h3>
                            <button class="exclusion-source-button" onclick="togglerAllSource()">Bao gồm tất cả các nguồn</button>
                        </div>

                        <div class="exclusion-source-list">
                            {% for school_id, school_info in school_exclusion_source.items() %}
                                <div class="exclution-source-item">
                                    <div class="exclution-source-item-title">
                                        {{ school_info.school_name }}
                                    </div>
                                    <div class="exclution-source-item-button">
                                        <button  onclick="togglerSourceSchool('{{school_id}}')">
                                            <i class="bi bi-x-circle icon-remove"></i>
                                        </button>
                                    </div>
                                    
                                </div>
                            {% endfor %}
                        
                        </div>
                    </div>

                    <div class="exclusion-text">
                        <div class="exclusion-text-header">
                            <h3>Các tiêu chí loại trừ văn bản</h3>
                            <button class="exclusion-text-button" onclick="togglerAllText()">Bao gồm tất cả các văn bản</button>
                        </div>

                        <div class="exclusion-text-list">
                            {% for sentence_index, sources in school_exclusion_text.items() %}
                                <div class="exclution-text-item">
                                    {% for source_id, text_info in sources.items() %}
                                        <div class="exclution-text-wrap">
                                            <div class="exclution-text-item-header">
                                                {{ text_info.best_match|safe }} <!-- Hiển thị best_match -->
                                            </div>
                                            <div class="exclution-text-item-title">
                                                {{ text_info.school_name }} <!-- Hiển thị school_name -->
                                            </div>
                                        </div>
                                        
                                        <div class="exclution-text-item-button">
                                            <button onclick="togglerText('{{ sentence_index }}', '{{ source_id }}')">
                                                <i class="bi bi-x-circle icon-remove"></i>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                        
                        </div>
                    </div>


                </div>
                
                
                
                <div class="fillter" style="display: none;">
                    <div class="fillter-header">
                        <h2 class="fillter-header-title">Bộ lọc</h2>
                        <button class="fillter-header-return-button"  onclick="toggleReport()">
                            <i class="bi bi-arrow-left"></i>
                            Quay lại Báo cáo tính tương đồng
                        </button>
                    </div>
                    <div class="fillter-container">
                        <h2 class="percent">{{ "%.2f" %  percent }} % Tính tương đồng theo tiêu chuẩn</h2>

                        <div class="fillter-source">
                            <div class="fillter-source-header">
                                So sánh các bài nộp với
                                <i class="bi bi-question-circle"></i>
                            </div>
                            <div class="fillter-source-describe">
                                Chọn ít nhất một loại nguồn để kiểm tra tính tương đồng.
                            </div>
                            <ul class="fillter-source-list">
                                <li class="fillter-source-item">
                                    <input type="checkbox" id="checkbox_hocvien" {{source_file['student_data']}}>
                                    <label for="checkbox_hocvien">Cơ sở dữ liệu học viên</label>
                                </li>
                            
                                <li class="fillter-source-item">
                                    <input type="checkbox" id="checkbox_internet" {{source_file['internet']}}>
                                    <label for="checkbox_internet">Nội dung Internet</label>
                                </li>
                            
                                <li class="fillter-source-item">
                                    <input type="checkbox" id="checkbox_tapchi" {{source_file['paper']}}>
                                    <label for="checkbox_tapchi">Tạp chí, báo và ấn phẩm</label>
                                </li>
                            </ul>
                            
                        </div>

                        <div class="fillter-exclusion">
                            <div class="fillter-exclusion-header">
                                Bộ lọc loại trừ
                                <i class="bi bi-question-circle"></i>
                            </div>
                            <ul class="fillter-exclusion-list">
                                <li class="fillter-exclusion-item">
                                    <input type="checkbox" id="checkbox_references" {{fillter_file['references']}}>
                                    <label for="checkbox_muclucthamkhao">Tài liệu tham khảo</label>
                                </li>
                            
                                <li class="fillter-exclusion-item">
                                    <input type="checkbox" id="checkbox_curlybracket" {{fillter_file['quotation_marks']}}>
                                    <label for="checkbox_ngoackep">Nội dung trong dấu ngoặc kép</label>
                                </li>

                                <li class="fillter-exclusion-item">
                                    <input type="checkbox" id="checkbox_min_word" {{fillter_file['min_word']['min_word']}} onchange="toggleMinWordWrap()">
                                    <label for="checkbox_min_word">Số từ trùng khớp tối thiểu</label>
                                </li>
                                
                                <div class="min_word_wrap" id="min_word_wrap" style="display: none;">
                                    <p class="min_word_title">
                                        Nhập số từ tối thiểu trùng khớp vào.
                                    </p>
                                    <input type="text" name="" id="input_min_word" value={{fillter_file['min_word']['minWordValue']}}>
                                    <p id="input_feedback" style="color: red;"></p>
                                </div>
                            </ul>
                            
                        </div>
                    </div>

                    <div class="fillter-footer">
                        <button class="fillter-footer-cancle" onclick="toggleFillterCancle()">
                            Hủy
                        </button>

                        <button class="fillter-footer-apply" onclick="toggleFillterApply()">
                            Áp dụng
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>

    <script>
        let pdfDoc = null;
        let currentPage = 1; // Biến lưu trang hiện tại

        async function loadPdf(pdfPath) {
            const loadingTask = pdfjsLib.getDocument(pdfPath);
            loadingTask.promise.then(pdf => {
                pdfDoc = pdf;
                renderAllPages(); // Tải tất cả các trang
            }).catch(error => {
                console.error('Error loading PDF:', error);
                alert('Could not load PDF. Please check the file ID and type.');
            });
        }

        function renderAllPages() {
            const pdfViewer = document.getElementById('pdf-viewer');
            pdfViewer.innerHTML = ''; // Xóa nội dung cũ trước khi thêm các trang mới

            for (let pageNum = 1; pageNum <= pdfDoc.numPages; pageNum++) {
                renderPage(pageNum); // Gọi hàm render cho từng trang
            }
        }

        function renderPage(pageNum) {
            pdfDoc.getPage(pageNum).then(page => {
                const scale = 1.5; // Thay đổi tỷ lệ nếu cần
                const viewport = page.getViewport({ scale: scale });
                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');

                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const pdfViewer = document.getElementById('pdf-viewer');
                pdfViewer.appendChild(canvas); // Thêm canvas vào pdfViewer

                const renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                page.render(renderContext);
            });
        }

        function scrollToPage(pageNum) {
            console.log(pageNum)

            const pdfViewer = document.getElementById('pdf-viewer');
            const canvases = pdfViewer.getElementsByTagName('canvas');

            // Cuộn đến vị trí của trang cụ thể
            if (canvases[pageNum]) {
                canvases[pageNum].scrollIntoView({ behavior: 'smooth' });
            }
        }

        window.onload = function() {
            const pdfPath = `/pdf/{{ file_id }}/checked`; // Đường dẫn đến PDF
            loadPdf(pdfPath); // Tải PDF khi trang được tải
        }

        const sentencesPerPage = 1;

        function showSentencePage(schoolId, type, pageNum) {
            const sentenceItems = document.querySelectorAll(`#sentence-list-${type}-${schoolId} .sentence-item`);
            const totalPages = Math.ceil(sentenceItems.length / sentencesPerPage);
            
            let firstDisplayedPage = null;  // Khởi tạo biến để lưu giá trị data-page của phần tử đầu tiên

            // Hiển thị các câu của trang hiện tại
            sentenceItems.forEach((item, index) => {
                if (index >= (pageNum - 1) * sentencesPerPage && index < pageNum * sentencesPerPage) {
                    item.style.display = "list-item";

                    // Chỉ lấy data-page của phần tử đầu tiên
                    if (firstDisplayedPage === null) {
                        firstDisplayedPage = item.getAttribute('data-page');
                    }
                } else {
                    item.style.display = "none";
                }
            });

            // Cập nhật số trang
            document.getElementById(`sentence-page-num-${type}-${schoolId}`).innerText = pageNum;
            document.getElementById(`sentence-total-page-${type}-${schoolId}`).innerText = totalPages;

            // Gọi hàm cuộn trang (giả định scrollToPage đã được định nghĩa)
            scrollToPage(firstDisplayedPage);
        }

        function nextSentencePage(schoolId, type) {
            const sentenceItems = document.querySelectorAll(`#sentence-list-${type}-${schoolId} .sentence-item`);
            const totalPages = Math.ceil(sentenceItems.length / sentencesPerPage);
            let currentPage = parseInt(document.getElementById(`sentence-page-num-${type}-${schoolId}`).innerText);

            if (currentPage < totalPages) {
                currentPage++;
                showSentencePage(schoolId, type, currentPage);
            }
        }

        function prevSentencePage(schoolId, type) {
            let currentPage = parseInt(document.getElementById(`sentence-page-num-${type}-${schoolId}`).innerText);

            if (currentPage > 1) {
                currentPage--;
                showSentencePage(schoolId, type, currentPage);
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const sentenceBoxesOff = document.querySelectorAll(".sentence-box-off");
            const sentenceBoxesOn = document.querySelectorAll(".sentence-box-on");

            sentenceBoxesOff.forEach(box => {
                const schoolId = box.id.split("-")[2]; // Lấy school_id từ id
                showSentencePage(schoolId, 'off', 1);
            });

            sentenceBoxesOn.forEach(box => {
                const schoolId = box.id.split("-")[2]; // Lấy school_id từ id
                showSentencePage(schoolId, 'on', 1);
            });

        });
        
        function toggleOverlappingSources() {
            const overlappingStatistics_off = Array.from(document.getElementsByClassName("overlapping-off"));
            const overlappingStatistics_on = Array.from(document.getElementsByClassName("overlapping-on"));
            const toggleSwitch = document.getElementById("toggle-sources");      
            if (toggleSwitch.checked) {
                overlappingStatistics_off.forEach(el => {
                    el.style.display = "none";
                });
                overlappingStatistics_on.forEach(el => {
                    el.style.display = "block";
                });
                toggle_sources('raw')
            } else {
                overlappingStatistics_off.forEach(el => {
                    el.style.display = "block";
                });
                overlappingStatistics_on.forEach(el => {
                    el.style.display = "none";
                });
                location.reload();

            }
        }

        function toggle_sources(type) {
            const pdfPath = `/pdf/{{ file_id }}/${type}`;
            loadPdf(pdfPath);
        }

        function toggleSchool_On(schoolId) {
            const elements = Array.from(document.getElementsByClassName("sentence-box-on"));
            const element = document.getElementById(`overlapping-on-${schoolId}`);
            const otherElements = elements.filter(el => el !== element);

            otherElements.forEach(el => {
                el.style.display = "none";
            });

            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";
                highlightSchool(schoolId);
                var firstSentenceItem = document.querySelector(`#overlapping-on-${schoolId} .sentence-item`);
                if (firstSentenceItem) {
                    var firstPageValue = firstSentenceItem.getAttribute('data-page');
                    scrollToPage(firstPageValue)
                }
            } else {
                element.style.display = "none";
                toggle_sources('raw');
            }
        }

        function highlightSchool(schoolId) {

            const pdfPath = `/pdf/{{ file_id }}/view_all/${schoolId}`;
            loadPdf(pdfPath);
        }
    
        function toggleSchool_Off(schoolId) {
            const elements = Array.from(document.getElementsByClassName("sentence-box-off"));
            const element = document.getElementById(`overlapping-off-${schoolId}`);
            const otherElements = elements.filter(el => el !== element);

            otherElements.forEach(el => {
                el.style.display = "none";
            });

            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";
                var firstSentenceItem = document.querySelector(`#overlapping-on-${schoolId} .sentence-item`);
                if (firstSentenceItem) {
                    var firstPageValue = firstSentenceItem.getAttribute('data-page');
                    scrollToPage(firstPageValue)
                }
            } else {
                element.style.display = "none";
            }
        }


        function removeSchoolSource(school_id) {
            const pdfPath = `/pdf/{{ file_id }}/remove/${school_id}`;

            fetch(pdfPath, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error deleting school source');
                }
                return response.json(); // Trả về school_source_on dưới dạng JSON
            })
            .then(data => {
                console.log('Response from server:', data); // Kiểm tra dữ liệu trả về
                location.reload();

            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function removeText(school_id, sentence_index) {
            const pdfPath = `/pdf/{{ file_id }}/remove/${school_id}and${sentence_index}`;

            fetch(pdfPath, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error deleting school source');
                }
                return response.json(); // Trả về school_source_on dưới dạng JSON
            })
            .then(data => {
                console.log('Response from server:', data); // Kiểm tra dữ liệu trả về
                location.reload();
                
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }


        // exclusion
        function toggleExclusions() {
            // Lấy phần tử có class là report và exclusion
            const report = document.querySelector('.report');
            const exclusion = document.querySelector('.exclusion');
            
            // Ẩn class report
            report.style.display = 'none';
            
            // Hiện class exclusion
            exclusion.style.display = 'block';
        }

        function toggleFillter() {
            // Lấy phần tử có class là report và exclusion
            const report = document.querySelector('.report');
            const exclusion = document.querySelector('.fillter');
            
            // Ẩn class report
            report.style.display = 'none';
            
            // Hiện class exclusion
            exclusion.style.display = 'block';
        }
        
        function toggleReport() {
            location.reload()
        }
        
        function togglerAllSource(){
            const pdfPath = `/pdf/{{ file_id }}/add/all-source`;

            fetch(pdfPath, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error deleting school source');
                }
                return response.json(); // Trả về school_source_on dưới dạng JSON
            })
            .then(data => {
                console.log('Response from server:', data); // Kiểm tra dữ liệu trả về
                location.reload();

            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    
        function togglerSourceSchool(school_id){
            const pdfPath = `/pdf/{{ file_id }}/add/${school_id}`;

            fetch(pdfPath, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error deleting school source');
                }
                return response.json(); // Trả về school_source_on dưới dạng JSON
            })
            .then(data => {
                console.log('Response from server:', data); // Kiểm tra dữ liệu trả về
                location.reload();

            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    
        function togglerAllText(){
            const pdfPath = `/pdf/{{ file_id }}/add/all-text`;

            fetch(pdfPath, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error deleting school source');
                }
                return response.json(); // Trả về school_source_on dưới dạng JSON
            })
            .then(data => {
                console.log('Response from server:', data); // Kiểm tra dữ liệu trả về
                location.reload();

            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function togglerText(sentence_index, source_id){
            const pdfPath = `/pdf/{{ file_id }}/add/${sentence_index}and${source_id}`;

            fetch(pdfPath, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error deleting school source');
                }
                return response.json(); // Trả về school_source_on dưới dạng JSON
            })
            .then(data => {
                console.log('Response from server:', data); // Kiểm tra dữ liệu trả về
                location.reload();

            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function toggleFillterApply() {
            // Lấy giá trị của các checkbox
            const studentData = document.getElementById('checkbox_hocvien').checked;
            const internet = document.getElementById('checkbox_internet').checked;
            const paper = document.getElementById('checkbox_tapchi').checked;
            const references = document.getElementById('checkbox_references').checked;
            const curlybracket = document.getElementById('checkbox_curlybracket').checked;
            const minWord = document.getElementById('checkbox_min_word').checked;

            var minWordValue = document.getElementById("input_min_word").value;

            var feedbackElement = document.getElementById("input_feedback");

            // Kiểm tra nếu giá trị là số nguyên và nằm trong khoảng từ 3 đến 100
            if (minWordValue && !isNaN(minWordValue) && Number.isInteger(Number(minWordValue))) {
                minWordValue = Number(minWordValue); // Chuyển thành số nguyên

                if (minWordValue >= 3 && minWordValue < 100) {
                    feedbackElement.textContent = ""; // Không hiển thị thông báo nếu giá trị hợp lệ
                    const pdfPath = `/pdf/{{ file_id }}/fillter/${studentData}-${internet}-${paper}-${references}-${curlybracket}-${minWord}-${minWordValue}`;

                    fetch(pdfPath, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error deleting school source');
                        }
                        return response.json(); // Trả về school_source_on dưới dạng JSON
                    })
                    .then(data => {
                        console.log('Response from server:', data); // Kiểm tra dữ liệu trả về
                        location.reload();

                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                } else {
                    feedbackElement.textContent = "Giá trị phải là số nguyên lớn hơn hoặc bằng 3 và nhỏ hơn 100.";
                }
            } else {
                feedbackElement.textContent = "Giá trị phải là số nguyên.";
            }

            
            
        }



        // filter
        function toggleFillterCancle(){
            location.reload()
        }

        function toggleMinWordWrap() {
            var checkbox = document.getElementById("checkbox_min_word");
            var div = document.getElementById("min_word_wrap");
            if (checkbox.checked) {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }

        // Optional: check the state on page load
        document.addEventListener("DOMContentLoaded", function() {
            toggleMinWordWrap();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>

</body>
</html>
